body {
  background-color: lightgray;
}

.pai {
  color: blue;
  border: 1px solid red;
  margin: 20px;
}

p {
  border: inherit;
  margin: inherit;
}

article p {
  color: blue;
}

article > a {
  color: green;
}

h1 + p {
  color: red;
}

h1 ~ p {
  color: ;
}
